* { 
        margin: 0px; 
        font-family: 'Poppins', sans-serif;
        padding: 0px; 

}
.content .content-title{
    text-align: center;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    width: 50%;
    color: #fff;
    background-color: #daccba;
    border-radius: 25px;
}
.about-content{
    margin: auto;
    width: 50%;
}
html { height: 100%; box-sizing: border-box; }
body {
        background-color: #daccba;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin: 0;
        padding: 0;
        min-height: 100%;
}
/* HEADINGS DEFAULT */

a { text-decoration: none; }
ul, ol { margin-left: 40px; }
hr { margin: 10px 0px; opacity: .25; }

/* FORM DEFAULTS */
.blog h2{
    text-align: center;
    font-size: 3em;
    }
    .blogform input {
        width: 80%;
        display: block;
        padding: 13px 13px;
        font-size: 1em;
        margin: 5px auto ;
        border-radius: 10px;
        box-sizing : border-box;
        background: transparent;
        border: 1px solid #3E606F;
    }
    .blogform textarea {
        width: 80%;
        height: 20rem;
        display: block;
        padding: 13px 13px;
        font-size: 1em;
        margin: 5px auto ;
        border-radius: 10px;
        box-sizing : border-box;
        background: transparent;
        border: 1px solid #3E606F;
        resize: vertical;

    }

    .blogform input:focus {
        outline: none;
    }

    .container {
        width: 100%;
        margin: 0px auto;
        overflow: hidden;

    }
/* NAVBAR */
    .navbar {
        padding: 10px;
        margin: 30px;
        overflow: hidden;
        background: #3b2621;
        box-shadow:  9px 9px 18px #b9ad9e,
                    -9px -9px 18px #fbebd6;
        border-radius: 25px;
        z-index: 1000;

    }
    .navbar ul {
        list-style-type: none;
        margin: auto;
        float: right;
        overflow: hidden;

    }
    .navbar ul li {
    float: left;
    }
    .navbar ul li a {
        font-size: 25px;
        display: block;
        color: rgb(239, 231, 231);
        text-align: center;
        padding: 20px 28px;
        text-decoration: none;
        border-radius: 25px;

    }
    .navbar ul li a:hover {
        margin: auto;
        cursor: pointer;
        color: #fff;
        background-color: #895b4a;
        transition: ease-in-out 0.5s;
    }

    /* LOGO */
    .navbar .logo_div {
        float: left; 
        padding-top: 5px;
        padding-left: 40px;
    }
    .navbar .logo_div h1 {
        color: #d8f1f8;
        font-size: 3em;
        letter-spacing: 5px;
        font-weight: 100;
    }
    .navbar h1{
        font-family: 'Poppins', sans-serif;
    }

/* FOOTER */
    .footer {
        overflow: hidden;
        position: inherit;  

        bottom: 0;
        border-radius: 25px;
        color: white;
        background-color: #3b2621;
        text-align: center;
        width: 98%;
        margin: 20px;
        padding: 20px 0px;
        z-index: 1000;
    }
    .form-container {
        background: #3b2621;
        box-shadow:  9px 9px 18px #b9ad9e,
        -9px -9px 18px #fbebd6;
        text-align: center;
        width: 29%;
        margin-right: 30px;
        float: right;        
        z-index: 1;
        border-radius: 25px;
    }
    .form-container h1{
        color: #fff;
        padding: 10px;
    }
    .editform{
        background-color: #daccba;

        position: inherit;
        margin: auto;
        border-radius: 25px;
        padding: 10px;
    }
    .editform .modifier{
        margin: 20px;    
}
    .editform-container h1{
        padding: 10px;
    }
    .editform-container{
        text-align: center;
        color: #fff;
        padding: 20px;
        margin: auto;
        width: 50%;
        background-color: #3b2621;
        border-radius: 25px;
        box-shadow:  9px 9px 18px #b9ad9e,
        -9px -9px 18px #fbebd6;
    }

    .editform input{
        width: 90%;
        padding: 13px ;
        font-size: 1em;
        margin:  10px ;
        border-radius: 10px;
        box-sizing : border-box;
        background: transparent;
        border: 1px solid #3E606F;
    }
    .editform textarea{
        width: 90%;
        padding: 13px ;
        font-size: 1em;
        margin: 20px  ;
        height: 20em;
        resize: vertical;
        border-radius: 10px;
        box-sizing : border-box;
        background: transparent;
        border: 1px solid #3E606F;
    }
    .editform .submit{
        background-color: #3b2621;
        font-weight: bold;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        border-radius: 25px;
    }
    .submit:hover{
        background-color: #895b4a;
        transition: ease-in-out 0.3s;
    }
    .editcontainer{
        margin: auto;
        width: 50%;
    }
    .blog-container {
        position: relative;
        float: left;
        width:65%;
        flex: 2;
        margin: auto;      
        margin-left: 30px;  
        padding: 20px;
        background-color: #3b2621;
        box-shadow:  9px 9px 18px #b9ad9e,
        -9px -9px 18px #fbebd6;
        color: #fff;
        border-radius: 25px;
        margin-bottom: 5rem; /* Adjust the margin to make room for the footer */

    }


    .content-title{
        text-align: center;
        padding-bottom: 10px;

    }


    .blog {
        margin-bottom: 20px;
        background: #daccba;
        padding: 40px;
        border-radius: 25px;
        color: #3b2621;
        
    }
    .modify{
        background-color: #3b2621;
        padding: 10px;
        margin: 10px;
        width: 50%;
        color: #fff;
        cursor: pointer;
        border-radius: 25px;
    }
    .modify:hover{
        background-color: #895b4a;
        transition: ease-in-out 0.3s;
    }
    .modifier{
        background-color: #daccba;
        padding: 10px;
        margin: 20px;
        cursor: pointer;
        border-radius: 25px;
        text-align: center;
        width: 85%;
        color: #000;
        outline: none;
    }

    .modifier:hover{
        background-color: #895b4a;
        transition: ease-in-out 0.3s;    
        color: #fff ;
    }
    .messages h1{
        padding: 10px;
        margin: 10px;
    }

    .comment-form {
        margin: 20px;
        padding: 10px;
        background-color: #3b2621;
        border-radius: 25px;
        color: #fff;
    }
    
    .comments {
        margin-top: 20px;
    }
    
    .comment {
        margin-bottom: 10px;
        padding: 10px;
        background-color: #895b4a;
        border-radius: 25px;
        color: #fff;
    }
    .comment p{
        margin: 10px;
    }
    .commenters{
        background-color: #daccba;
        display: flex;
        padding: 10px;
        flex-wrap: wrap;
        margin: auto;
        border-radius: 25px;
        
    }
    .commenters .Cname,.Ccontent{
        margin: auto;
        outline: none;
        border-radius: 25px;
    }
    .Ccontent{
        resize: both;
        height: auto;
    }
    .commenters .Cname{
        width: 20%;
        padding: 10px;
        margin: 10px;
    }
    .commenters .Ccontent{
        width: 60%;
        padding: 10px;
        margin: 10px;

    }
    .commenters .submit{
        background-color: #3b2621;
        padding: 10px;
        margin: 10px;
        color: #fff;
        cursor: pointer;
        border-radius: 25px;
    }
    .commenters .submit:hover{
        background-color: #895b4a;
        transition: ease-in-out 0.3s;
    }
    .blogform   {
        background-color: #daccba;
        padding: 10px;
        margin: auto;
        margin-bottom: 20px;

        width: 90%;
        border-radius: 25px;

    }
    .blogform .blogsubmit{
        background-color: #3b2621;
        color: #fff;
        margin-bottom: 20px;
        border-radius: 25px;
        width: 50%;
        cursor: pointer;
    }
    .blogform .blogsubmit:hover{
        background-color: #895b4a;
        transition: ease-in-out 0.3s;
    }
    .messages{
        margin: auto;
        width: 50%;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        background-color: #3b2621;
        box-shadow:  9px 9px 18px #b9ad9e,
        -9px -9px 18px #fbebd6;
        color: #fff;
        padding: 3rem;
        border-radius: 25px;
    }
    .blog .blogcontent{
        margin: 10px;
        padding: 20px;
        font-size: 25px;

    }
    .aboutcontainer{
        margin: auto;
        width: 50%;
        text-align: center;
        background-color: #3b2621;
        border-radius: 25px;
        padding: 10px;
        color: #fff;
        font-size: 2em;
    }
    .aboutcontent{
        background-color: #daccba;
        border-radius: 25px;
        color: #000;
        margin: 15px;
        padding: 20px;
    }
